debug {
  preview-render "screencast"
  enable-overlay-planes
}

input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 200
        repeat-rate 50
    }
    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus
    focus-follows-mouse
}
layout {
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.66667
    }
    focus-ring {
        width 2
        active-color "#ffebe1ff"
        inactive-color "#505050"
    }
    border {
        off
    }
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d %H-%M-%S.png"
animations {

}
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
window-rule {
    match app-id="^zen" title="^Extension:"
    open-floating true
    min-width 350
    max-width 350
    min-height 700
    max-height 700
}
window-rule {
    match app-id="^zen"
    exclude title="^Extension:"
    default-column-width {
        proportion 0.33333
    }
}
window-rule {
    match app-id="^zen"
    exclude title="^Extension:"
    default-column-width {
        proportion 0.33333
    }
}
window-rule {
    match app-id="^zen" title="^Picture-in-Picture$"
    open-floating true
    default-column-width {
        fixed 480
    }
    default-window-height {
        fixed 270
    }
}
window-rule {
    match app-id="^Alacritty$"
    opacity 0.9
    default-column-width {
        proportion 0.33333
    }
    default-window-height {
        proportion 0.5
    }

}
binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" {
        spawn "alacritty"
    }
    Alt+Space hotkey-overlay-title="Run an Application: fuzzel" {
        spawn "fuzzel"
    }
    Mod+V hotkey-overlay-title="Open Clipboard Manager" {
        spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"
    }
    Mod+S hotkey-overlay-title="Take a Screenshot of the selected area" {
        spawn-sh r#"grim -g "$(slurp -d)" - | wl-copy"#
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+Y {
        spawn-sh "
            niri msg action move-window-to-floating &&
            niri msg action set-window-height 70% &&
            niri msg action set-window-width 60% &&
            niri msg action center-window
        "
    }
    Ctrl+Q {
        close-window
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-or-workspace-down
    }
    Mod+Up {
        focus-window-or-workspace-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+Shift+Left {
        move-column-left
    }
    Mod+Shift+Right {
        move-column-right
    }
    Mod+Shift+Down {
        move-window-down-or-to-workspace-down
    }
    Mod+Shift+Up {
        move-window-up-or-to-workspace-up
    }
    Mod+Ctrl+Left {
        focus-column-first
    }
    Mod+Ctrl+Right {
        focus-column-last
    }
    Mod+Ctrl+Shift+Left {
        move-column-to-first
    }
    Mod+Ctrl+Shift+Right {
        move-column-to-last
    }
    Mod+U {
        focus-workspace-down
    }
    Mod+I {
        focus-workspace-up
    }
    Mod+Ctrl+U {
        move-column-to-workspace-down
    }
    Mod+Ctrl+I {
        move-column-to-workspace-up
    }
    Mod+Shift+U {
        move-workspace-down
    }
    Mod+Shift+I {
        move-workspace-up
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Ctrl+R {
        reset-window-height
    }
    Mod+F {
        toggle-window-floating
    }
    Alt+Ctrl+F {
        expand-column-to-available-width
    }
    Alt+Shift+F {
        fullscreen-window
    }
    Mod+C {
        center-column
    }
    // Center all fully visible columns on screen.
    Mod+Ctrl+C {
        center-visible-columns
    }
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus {
        set-window-height "-10%"
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    Mod+Shift+S {
        screenshot-window
    }
    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P {
        power-off-monitors
    }
}
